<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>浅草</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/lease/lease.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%include ../index/header.ejs%>
<div style="height: 840px">
    <p class="ertical">限时体验新客户<span class="catching">免费试用</span>植物一个月，<br>让您不需再为办公室绿植操心，让您工作中充满绿色生活</p>
    <ul class="banner">
        <li><img src="../img/lease/b1.png"></li>
        <li><img src="../img/lease/b2.png"></li>
        <li><img src="../img/lease/b3.png"></li>
    </ul>
</div>
<section>
    <div>
        <div class="combinationOne">
            <div class="details">
                <p class="detailsTitle">和蔼语言这个组合 · 很特别</p>
                <div class="detailsSubtitle">this month's special</div>
                <div class="detailsimg"><img src="../img/lease/sakura.svg"></div>
                <p class="detailsIntroduce">这个组合的详情</p>
                <pre class="listText">小盆-马库斯    ×20            小盆-红爪    ×10
小盆-艳日辉    ×20            小盆-蓝鸟    ×10
大盆-小人祭    ×10            大盆-白杜丹  ×5
大盆-单雪      ×10            大盆-火祭    ×5
超大盆-蓝石莲   ×5</pre>
                <a href="lease_details"><div class="partitionDivDiv">我要租赁</div></a>
            </div>
        </div>
        <div class="exhibition container">
            <div class="exhibitionDiv">
                <div class="exhibitionBox">
                    <div class="exhibitionBoxImg">
                        <img src="../img/lease/T1-1.jpg">
                    </div>
                    <p>斑块榆树</p>
                </div>
                <div class="exhibitionBox">
                    <div class="exhibitionBoxImg">
                        <img src="../img/lease/T1-2.jpg">
                    </div>
                    <p>綺麗芽树</p>
                </div>
                <div class="exhibitionBox">
                    <div class="exhibitionBoxImg">
                        <img src="../img/lease/T1-3.jpg">
                    </div>
                    <p>新芽伸</p>
                </div>
                <div class="exhibitionBox">
                    <div class="exhibitionBoxImg">
                        <img src="../img/lease/T1-4.jpg">
                    </div>
                    <p>磯山椒</p>
                </div>
            </div>
        </div>
    </div>
    <!--第二个套餐-->
    <div class="posrel">
        <div class="combinationTow">
            <div class="details2">
                <p class="detailsTitle">耀眼的群这个组合 · 很别致</p>
                <div class="detailsSubtitle">作为主题闪耀的植物</div>
                <div class="detailsimg"><img src="../img/lease/sakura.svg"></div>
                <p class="detailsIntroduce">这个组合的详情</p>
                <pre class="listText">小盆-马库斯    ×20            小盆-红爪    ×10
小盆-艳日辉    ×20            小盆-蓝鸟    ×10
大盆-小人祭    ×10            大盆-白杜丹  ×5
大盆-单雪      ×10            大盆-火祭    ×5
超大盆-蓝石莲   ×5</pre>
                <a href="lease_details"><div class="partitionDivDiv">我要租赁</div></a>
            </div>
        </div>
        <div class="exhibition2">
            <div class="exhibitionDiv">
                <div class="exhibitionBox">
                    <div class="exhibitionBoxImg">
                        <img src="../img/lease/T2-1.jpg">
                    </div>
                    <p>斑块榆树</p>
                </div>
                <div class="exhibitionBox">
                    <div class="exhibitionBoxImg">
                        <img src="../img/lease/T2-2.jpg">
                    </div>
                    <p>綺麗芽树</p>
                </div>
                <div class="exhibitionBox">
                    <div class="exhibitionBoxImg">
                        <img src="../img/lease/T2-3.jpg">
                    </div>
                    <p>新芽伸</p>
                </div>
                <div class="exhibitionBox">
                    <div class="exhibitionBoxImg">
                        <img src="../img/lease/T2-4.jpg">
                    </div>
                    <p>磯山椒</p>
                </div>
            </div>
        </div>
    </div>
    <!--第三个套餐-->
    <div>
        <div class="combinationOne">
            <div class="details">
                <p class="detailsTitle">秀色可餐这个组合 · 很有趣</p>
                <div class="detailsSubtitle">this month's special</div>
                <div class="detailsimg"><img src="../img/lease/sakura.svg"></div>
                <p class="detailsIntroduce">这个组合的详情</p>
                <pre class="listText">小盆-马库斯    ×20            小盆-红爪    ×10
小盆-艳日辉    ×20            小盆-蓝鸟    ×10
大盆-小人祭    ×10            大盆-白杜丹  ×5
大盆-单雪      ×10            大盆-火祭    ×5
超大盆-蓝石莲   ×5</pre>
                <a href="lease_details"><div class="partitionDivDiv">我要租赁</div></a>
            </div>
        </div>
        <div class="exhibition container">
            <div class="exhibitionDiv">
                <div class="exhibitionBox">
                    <div class="exhibitionBoxImg">
                        <img src="../img/lease/T1-1.jpg">
                    </div>
                    <p>斑块榆树</p>
                </div>
                <div class="exhibitionBox">
                    <div class="exhibitionBoxImg">
                        <img src="../img/lease/T1-2.jpg">
                    </div>
                    <p>綺麗芽树</p>
                </div>
                <div class="exhibitionBox">
                    <div class="exhibitionBoxImg">
                        <img src="../img/lease/T1-3.jpg">
                    </div>
                    <p>新芽伸</p>
                </div>
                <div class="exhibitionBox">
                    <div class="exhibitionBoxImg">
                        <img src="../img/lease/T1-4.jpg">
                    </div>
                    <p>磯山椒</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="container">
    <div class="row">
        <p class="footerTitle">自由组合·上门服务</p>
        <hr class="footerHr">
        <div class="col-lg-5 col-lg-offset-1 freeCombination">
            <div class="txbd">填写信息</div>
            <form>
                <p>
                    所在地区：
                    <select class="bigAddres">
                        <option value="北京">北京</option>
                        <option value="上海">上海</option>
                        <option value="成都" selected="selected">成都</option>
                        <option value="广州">广州</option>
                        <option value="深圳">深圳</option>
                        <option value="重庆">重庆</option>
                    </select>
                    <select class="someAddres">
                        <option value="锦江区">锦江区</option>
                        <option value="青阳区">青阳区</option>
                        <option value="金牛区">金牛区</option>
                        <option value="武侯区">武侯区</option>
                        <option value="成华区">成华区</option>
                        <option value="高新区">高新区</option>
                        <option value="天府新区">天府新区</option>
                    </select>
                </p>
                <p>详细地址：
                    <input class="qukuang" type="text">
                </p>
                <p>联系人：&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="qukuang" type="text">
                </p>
                <p>联系电话：
                    <input class="qukuang" type="text">
                </p>
                <p>大概面积：
                    <input class="qukuang" type="text">
                </p>
                <p>备注：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="qukuang" type="text">
                </p>
                <p class="text-center">
                    <button class="freeButton">预约</button>
                </p>
            </form>
        </div>
        <div class="col-lg-5 freeCombination2">
            <p style="margin-top: 20px;font-weight: bold">服务范围及标准</p>
            <p>主要对酒店、商场、医院、写字楼、银行、学校、购物中心、娱乐中心及家庭提供室内植物出租、花卉摆放业务，以及面向室外绿化市场提供庭院绿化、园林绿化设计施工、草坪养护绿化养护服务；还从事绿色植物花卉销售、商务展会绿化布置、单位摆花等业务。服务宗旨：引绿入室、优化环境、返朴归真、美化生活 </p>
            <b>服务内容：</b>
            <p>1．出租盆花、盆景、观叶植物，提供托盘服务。</p>
            <p>2．负责运输，送货上门；租摆到位，定期养护。</p>
            <p>3．及时更换，保证观赏效果。</p>
            <p>4. 可根据用户要求，进行特殊设计和布置。</p>
            <b>售后服务：</b>
            <p>1、所有竣工客户资料建档，定期通过客户回访了解客户花园使用情况，实行一年‘365'天客服咨询、每天24小时不间断热线值班。</p>
            <p>2、客服中心接到客户维修通知后，即可通知维修人员，24小时内到现场进行勘察分析、维修施工、书面记录，直至您满意为止。</p>
            <p>3、超出质保期的客户，客户回访仍定期进行，若客户认为不必再进行回访，回访即告终止，客户一旦有需要只要电话通知公司，公司保证48小时内维修人员到位，仅以人工成本、材料成本收取维修费。</p>
        </div>
    </div>

</footer>
<%include ../index/footer.ejs%>


<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/lease/lease.js"></script>
</body>
</html>