<div class="row">
    <div class="col-xs-11 mydecL mySDiv">
        <div class="col-xs-2 text-center comRow">
            <div class="comScore">
                <span class="scoreSpan">4.7</span>
            </div>
        </div>
        <div class="col-xs-9 comRow">
            <div class="comScore comIntr">
                <ul>
                    <li>包装挺好</li>
                    <li>服务不错</li>
                    <li>质量不错</li>
                    <li>很便宜</li>
                    <li>花盆挺好看</li>
                    <li>非常鲜活</li>
                    <li>非常鲜活</li>
                    <li>非常鲜活</li>
                    <li>非常鲜活</li>
                    <li>非常鲜活</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 mydecL comList">
        <ul>
            <li class="comActive">全部评论<span>(99+)</span></li>
            <li class="comUnactive">晒图<span>(99+)</span></li>
            <li class="comUnactive">好评<span>(99+)</span></li>
            <li class="comUnactive">中评<span>(50)</span></li>
            <li class="comUnactive">差评<span>(0)</span></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 mydecL comList2">
        <ul>
            <li>
                <div class="col-xs-2 text-center comPort">
                    <div class="comPortList comPort2">
                        <img src="img/mall/peisong.jpg">
                        <div>未知</div>
                    </div>
                </div>
                <div class="col-xs-10 comPort">
                    <div class="comPortList comText">
                        <div class="five_star">这是五角星</div>
                        <div>刚到装好，养花等于养心</div>
                        <div class="comImg">
                            <img src="img/mall/comImg.jpg" id="test">
                            <img src="img/mall/comImg.jpg">
                            <img src="img/mall/comImg.jpg">
                            <img src="img/mall/comImg.jpg">
                            <img src="img/mall/comImg.jpg">
                        </div>
                        <div>
                            <span class="spec">套餐A（含盆含土，不含铺面石，尺寸内容见详情）</span>
                            <span class="spec">2017-11-17 12:57</span>
                            <span class="pull-right reply">
                                <span>点赞 <span>0</span></span>
                                <span>
                                    <a href="/commentsDetails">
                                        回复 <span>0</span>
                                    </a>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="col-xs-2 text-center comPort">
                    <div class="comPortList comPort2">
                        <img src="img/mall/peisong.jpg">
                        <div>未知</div>
                    </div>
                </div>
                <div class="col-xs-10 comPort">
                    <div class="comPortList comText">
                        <div class="five_star">这是五角星</div>
                        <div>刚到装好，养花等于养心</div>
                        <div class="comImg">
                            <img src="img/mall/comImg.jpg">
                            <img src="img/mall/comImg.jpg">
                            <img src="img/mall/comImg.jpg">
                            <img src="img/mall/comImg.jpg">
                            <img src="img/mall/comImg.jpg">
                        </div>
                        <div>
                            <span class="spec">套餐A（含盆含土，不含铺面石，尺寸内容见详情）</span>
                            <span class="spec">2017-11-17 12:57</span>
                            <span class="pull-right reply">
                                <span>点赞 <span>0</span></span>
                                <span>回复 <span>0</span></span>
                            </span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>