<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商品支付</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
<<<<<<< HEAD
=======
    <link href="css/buy/buy.css" rel="stylesheet">
>>>>>>> 68918da254842559fe1e9ea064eac57aa4ddd177
    <link href="css/pay/pay.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%-include('../mateheader.ejs')%>
<div class="container mycontent">
<<<<<<< HEAD
    测试
=======
    <!--支付方式-->
    <div class="row">
        <div class="col-xs-11 myadd">
            <div class="addressMsg">支付方式</div>
        </div>
    </div>
>>>>>>> 68918da254842559fe1e9ea064eac57aa4ddd177
</div>
<%-include('../matefooter.ejs')%>
<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>