<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>购物车</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/shopcart/shopcart.css" rel="stylesheet">
    <link href="css/mall/mall_details.css" rel="stylesheet">
    <link href="css/buy/buy.css" rel="stylesheet">
    <link href="css/model.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%-include('../mateheader.ejs')%>
<div class="container mycontent2">
    <!--空购物车-->
    <!--<div class="row">-->
        <!--<div class="col-xs-11 text-center">-->
            <!--<div class="row">-->
                <!--<div class="col-xs-11 col-xs-offset-1 nullShop">-->
                    <!--<div class="shopCell">-->
                        <!--<div class="shopImg">-->
                            <!--<img src="img/mall/nullshop.png">-->
                            <!--<span>您的购物车空空如也，赶紧行动吧！</span>-->
                        <!--</div>-->
                        <!--<div class="go_like">-->
                            <!--<a href="/mall">去逛逛></a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--非空购物车-->
    <div class="row">
        <div class="col-xs-11 text-center">
            <div class="addressMsg pull-left myLshop">全部商品</div>
            <div class="row">
                <div class="col-xs-11 col-xs-offset-1 nullShop2">
                    <div class="shopCell2">
                        <div class="unshop">
                            <table class="table text-center">
                                <thead>
                                <tr>
                                    <th>商品信息</th>
                                    <th>商品属性</th>
                                    <th>优惠方式</th>
                                    <th>单价</th>
                                    <th width="130px">数量</th>
                                    <th>小计</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td width="230px">
                                        <input type="checkbox" class="pull-left">
                                        <img src="img/mall/TB2C_1.jpg" width="50px" height="50px" class="pull-left">
                                        <span class="addLine2 mall_msg">多肉组合盆栽绿植花卉送花盆送土</span>
                                    </td>
                                    <td>商品规格：大</td>
                                    <td>买二送一</td>
                                    <td class="unit_price">¥<span>129.00</span></td>
                                    <td>
                                        <div>
                                            <span class="pull-left numRedu numSpan"></span>
                                            <input type="number" value="1" class="pull-left numValue">
                                            <span class="pull-left numadd numSpan"></span>
                                        </div>
                                    </td>
                                    <td class="subtotal">¥<span>129.00</span></td>
                                </tr>
                                <tr>
                                    <td width="210px">
                                        <input type="checkbox" class="pull-left">
                                        <img src="img/mall/TB2C_1.jpg" width="50px" height="50px" class="pull-left">
                                        <span class="addLine2 mall_msg">多肉组合盆栽绿植花卉送花盆送土</span>
                                    </td>
                                    <td>商品规格：大</td>
                                    <td>满100减100</td>
                                    <td class="unit_price">¥<span>129.00</span></td>
                                    <td>
                                        <div>
                                            <span class="pull-left numRedu numSpan"></span>
                                            <input type="number" value="1" class="pull-left numValue">
                                            <span class="pull-left numadd numSpan"></span>
                                        </div>
                                    </td>
                                    <td class="subtotal">¥<span>129.00</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--结算-->
    <div class="row account">
        <div class="col-xs-11">
            <div class="col-xs-3 myLshop">
                <div>
                    <input type="checkbox" class="check_all">全选
                    <button type="button" class="btn delete_btn"  data-toggle="modal" data-target="#myModal">删除</button>
                </div>
            </div>
            <div class="col-xs-8 sumMoney">
                <div class="pull-right">
                    <span class="mallNum">2</span>&nbsp;件商品，应付总额：
                    <span class="mallMoney">¥<span>258.00</span></span>
                    <button type="button" class="btn refer_btn">
                        <a href="/buy">结算</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--热卖商品-->
    <div class="row imgtop3">
        <div class="col-xs-11">
            <div class="row">
                <div class="col-xs-11 col-xs-offset-1 recomborder">
                    <div class="recomDiv">热卖商品</div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 listborder">
                            <a href="/mall_details">
                                <div class="introborderDiv2">
                                    <img src="img/mall/TB2C_list_01.jpg" class="introborder2 img-responsive">
                                </div>
                                <div class="introborder2">
                                    <div class="priceDiv">
                                        <span class="pull-left priceSpan">¥9.90</span>
                                        <span class="pull-right paySpan">300人付款</span>
                                    </div>
                                    <div class="introduceDiv2">
                                        <p class="introduce introLine">多肉植物种植新手套餐肉肉植物多肉组合盆栽绿植花卉送花盆送土</p>
                                    </div>
                                </div>
                            </a>
                            <div class="add_cart text-center">
                                <a href="/shop_cart" class="iconfont">&#xe63f;</a>
                            </div>
                        </div>

                        <div class="col-sm-3 col-md-3 listborder">
                            <a href="/mall_details">
                                <div class="introborderDiv2">
                                    <img src="img/mall/TB2C_list_02.jpg" class="introborder2 img-responsive">
                                </div>
                                <div class="introborder2">
                                    <div class="priceDiv">
                                        <span class="pull-left priceSpan">¥9.90</span>
                                        <span class="pull-right paySpan">300人付款</span>
                                    </div>
                                    <div class="introduceDiv2">
                                        <p class="introduce introLine">多肉植物种植新手套餐肉肉植物多肉组合盆栽绿植花卉送花盆送土</p>
                                    </div>
                                </div>
                            </a>
                            <div class="add_cart text-center">
                                <a href="/shop_cart" class="iconfont">&#xe63f;</a>
                            </div>
                        </div>

                        <div class="col-sm-3 col-md-3 listborder">
                            <a href="/mall_details">
                                <div class="introborderDiv2">
                                    <img src="img/mall/TB2C_list_03.jpg" class="introborder2 img-responsive">
                                </div>
                                <div class="introborder2">
                                    <div class="priceDiv">
                                        <span class="pull-left priceSpan">¥9.90</span>
                                        <span class="pull-right paySpan">300人付款</span>
                                    </div>
                                    <div class="introduceDiv2">
                                        <p class="introduce introLine">多肉植物种植新手套餐肉肉植物多肉组合盆栽绿植花卉送花盆送土</p>
                                    </div>
                                </div>
                            </a>
                            <div class="add_cart text-center">
                                <a href="/shop_cart" class="iconfont">&#xe63f;</a>
                            </div>
                        </div>

                        <div class="col-sm-3 col-md-3 listborder">
                            <a href="/mall_details">
                                <div class="introborderDiv2">
                                    <img src="img/mall/TB2C_list_04.jpg" class="introborder2 img-responsive">
                                </div>
                                <div class="introborder2">
                                    <div class="priceDiv">
                                        <span class="pull-left priceSpan">¥9.90</span>
                                        <span class="pull-right paySpan">300人付款</span>
                                    </div>
                                    <div class="introduceDiv2">
                                        <p class="introduce introLine">多肉植物种植新手套餐肉肉植物多肉组合盆栽绿植花卉送花盆送土</p>
                                    </div>
                                </div>
                            </a>
                            <div class="add_cart text-center">
                                <a href="/shop_cart" class="iconfont">&#xe63f;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%-include('../matefooter.ejs')%>
<!--删除模态框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">删除商品信息</h4>
            </div>
            <div class="modal-body">
                确认删除改商品吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn_del">删除</button>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/mall/mall_details.js"></script>
<script src="js/buy/buy.js"></script>
</body>
</html>