<div class="backlog">
    <div class="row blTitle">
        <div class="col-lg-4">
            下单时间：<span>2018-06-06 08:46:56</span>
        </div>
        <div class="col-lg-2">
            订单号：<span>35842043</span>
        </div>
        <div class="col-lg-6 text-right">
            <a href="#">查看全部订单</a>
        </div>
    </div>
    <div class="row product">
        <div class="col-lg-2">
            <a href="#">订单号：xxxxxxx</a>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-7" >
                <img src="img/one/001.jpg" alt=""/>
            </div>
            <span class="col-lg-3">支付宝支付</span>
            <span class="col-lg-2 wait">未付款</span>
        </div>
        <div class="col-lg-2">￥100.00</div>
        <div class="col-lg-2">
            <a href="#" role="button" class="btn pay">
                付款
                <span id="countDown">20:00</span>
            </a>
        </div>
    </div>
</div>