<div class="editSelf">
    <div class="row esTitle">
        <div class="col-lg-2 currentList">基本资料</div>
        <div class="col-lg-2">密码修改</div>
    </div>
    <div class="row esCont">
        <%-include('passwdEdit.ejs')%>
    </div>
</div>
