<div class="editSelf">
    <div class="row esTitle">
        <div class="col-lg-2 currentList" id="esC">基本资料</div>
        <div class="col-lg-2" id="pswE">密码修改</div>
    </div>
    <div class="row esCont">
        <%-include('selfCont.ejs')%>
    </div>
</div>