<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>浅草商城</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/mall.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%-include('mateheader.ejs')%>
<div class="container">
    <div class="col-xs-12 classify">
        <div class="col-xs-12">
            <span class="pull-left">植物品种：</span>
            <ul>
                <li>全部品种</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <span class="pull-left">选购热点：</span>
            <ul>
                <li>全部热点</li>
                <li>超萌多肉</li>
                <li>开学季盆栽</li>
                <li>奇趣植物</li>
                <li>甲醛克星</li>
                <li>乔迁必备</li>
                <li>土壤专家</li>
                <li>开花不断</li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-xs-12 classify">
        <div class="col-xs-12">
            <span class="pull-left">植物品种：</span>
            <ul>
                <li>全部品种</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <span class="pull-left">选购热点：</span>
            <ul>
                <li>全部热点</li>
                <li>超萌多肉</li>
                <li>开学季盆栽</li>
                <li>奇趣植物</li>
                <li>甲醛克星</li>
                <li>乔迁必备</li>
                <li>土壤专家</li>
                <li>开花不断</li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-xs-12 classify">
        <div class="col-xs-12">
            <span class="pull-left">植物品种：</span>
            <ul>
                <li>全部品种</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <span class="pull-left">选购热点：</span>
            <ul>
                <li>全部热点</li>
                <li>超萌多肉</li>
                <li>开学季盆栽</li>
                <li>奇趣植物</li>
                <li>甲醛克星</li>
                <li>乔迁必备</li>
                <li>土壤专家</li>
                <li>开花不断</li>
            </ul>
        </div>
    </div>
</div>
<%-include('matefooter.ejs')%>
<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.js"></script>

</body>
</html>