<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div class="login_body">
    <div class="login">
        <h2>浅草登陆</h2>
        <form>
            <input type="text" placeholder=" 请输入您的账号">
            <input style="margin-top: 7%" type="password" placeholder=" 请输入密码">
            <button>登陆</button>
            <a href="">忘记密码</a>
        </form>
    </div>
</div>

<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>