<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/mateheader.css">
</head>
<body>
<div class="container-fluid navbar-fixed-top" id="container-fluid">
    <nav class="container index" id="container">
        <div class="row">
            <ul class="col-md-8 text-center" id="ul">
                <img class="col-md-4" src="img/logo.png" alt="">
                <li class="col-md-1">首页</li>
                <li class="col-md-1">林家辉</li>
                <li class="col-md-1">粟雪梅</li>
                <li class="col-md-1">颜春林</li>
                <li class="col-md-1">杜佳慧</li>
                <li class="col-md-1">彭鑫杭</li>
            </ul>
            <div class="col-md-4 text-center">
                <select class="col-md-3 select">
                    <option>北京</option>
                    <option>上海</option>
                    <option>天津</option>
                    <option>杭州</option>
                    <option>成都</option>
                    <option>广州</option>
                </select>
                <div class="col-md-3">消息</div>
                <div class="col-md-3">登陆/注册</div>
                <div class="col-md-3">购物车</div>
            </div>
        </div>
    </nav>
</div>
</body>
<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.js"></script>
</html>