<div class="securityEdit">
    <div class="row">
        <div class="col-lg-2 text-center">您当前的账号</div>
        <div class="col-lg-10">18682625628</div>
    </div>
    <div class="row">
        <div class="col-lg-2 text-center">绑定手机号</div>
        <div class="col-lg-10">
            <div class="col-lg-10">
                绑定手机：<span>186****5628</span>，若手机丢失或停用，请及时更换
            </div>
            <div class="col-lg-2 text-right">
                <a href="#">更换</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 text-center">支付密码</div>
        <div class="col-lg-10">
            <div class="col-lg-10">
                支付密码启用后，将作为您帐号资产使用时的身份证明
            </div>
            <div class="col-lg-2 text-right">
                <a href="#">立即设置</a>
            </div>
        </div>
    </div>
</div>