<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人中心</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/self.css"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <%-include('mateheader.ejs')%>
</header>
<section>
    <div class="container self">
        <div class="row">
            <aside class="col-lg-2 selfSet">
                <ul>
                    <li>
                        <h4>账号管理</h4>
                    </li>
                    <li class="current" id="selfC">
                        <a href="#">个人中心</a>
                    </li>
                    <li id="info">
                        <a href="#">账号信息</a>
                    </li>
                    <li id="address">
                        <a href="#">地址管理</a>
                    </li>
                    <li id="security">
                        <a href="#">安全中心</a>
                    </li>
                    <li id="integral">
                        <a href="#">我的积分</a>
                    </li>
                    <li id="collect">
                        <a href="#">我的收藏</a>
                    </li>
                    <li>
                        <h4>交易管理</h4>
                    </li>
                    <li id="orderG">
                        <a href="#">订单管理</a>
                    </li>
                    <li id="redP">
                        <a href="#">我的红包</a>
                    </li>
                    <li id="coupons">
                        <a href="#">优惠卷</a>
                    </li>
                    <li>
                        <h4>服务中心</h4>
                    </li>
                    <li id="afterSale">
                        <a href="#">售后记录</a>
                    </li>
                    <li id="priceP">
                        <a href="#">价格保护</a>
                    </li>
                    <li id="help">
                        <a href="#">帮助中心</a>
                    </li>
                </ul>
            </aside>
            <div class="col-lg-10">
                <%-include('security.ejs')%>
            </div>
        </div>
    </div>
</section>

<footer>
    <%-include('matefooter.ejs')%>
</footer>


<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>