*{
    margin: 0 auto;
}
.banner{
    margin-top: 102px;
    position: relative;
    height: 700px;
}
.banner li{
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    width: 100%;
    display: none;
}
.banner li img{
    width: 100%;
    height: 700px;
}