*{
    margin: 0;
    padding: 0;
}
/*图片详情*/
.imgdeta{
    height: 500px;
    margin-top: 10px;
    background-image: url("../img/TB2C.48u9tYBeNjSspaXXaOOFXa_2710528801-0-item_pic.jpg_430x430q90.jpg");
    background-size: 100% 100%;
}
.img4Div{
    height: 330px;
    margin-top: 180px;
}
.img4Div>div{
    width: 60px;
    height: 60px;
    margin: 20px 0 0 20px;
    cursor: pointer;
}
.img4Div>div:nth-child(1){
    background-image: url("../img/TB2C.48u9tYBeNjSspaXXaOOFXa_2710528801-0-item_pic.jpg");
    background-repeat: no-repeat;
}
.img4Div>div:nth-child(2){
    background-image: url("../img/TB2V9OcoSBYBeNjy0FeXXbnmFXa_2710528801.jpg");
    background-repeat: no-repeat;
}
.img4Div>div:nth-child(3){
    background-image: url("../img/TB2W9hKliCYBuNkHFCcXXcHtVXa_2710528801.jpg");
    background-repeat: no-repeat;
}
.img4Div>div:nth-child(4){
    background-image: url("../img/TB25.Wao1uSBuNjy1XcXXcYjFXa_2710528801.jpg");
    background-repeat: no-repeat;
}
.img4Div>div:hover{
    border: 1px solid #7B7446;
}
/*测试*/
.test{
    border: 1px solid red;
}