@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

#ul li{
    list-style-type:none;
    display: inline-block;
    margin-left: 0;
    font-size: 13px;
}
.index{
    line-height: 80px;
}
#container-fluid{
    color:  #7B7446;
    border-bottom: 2px solid rgb(230,230,231);
    background: white;
}
.col-md-12,.col-md-11,.col-md-10,.col-md-9,.col-md-8,.col-md-7,.col-md-6,.col-md-5,.col-md-4,.col-md-3,.col-md-2,.col-md-1{
    padding: 0;
}
.select{
    margin-top:25px;
    border: none;
    border-bottom: 1px solid #7B7446;
    padding: 5px;
    background: white;
    filter:chroma(color=#000000);
    outline:none;
}

a{
    color:  #7B7446;
}
a:hover{
    color:  #7B7446;
    text-decoration: none;
}
