#ul li{
    list-style-type:none;
    display: inline-block;
    margin-left: 0;
}
.index{
    line-height: 80px;
}
#container-fluid{
    color:  #7B7446;
    border-bottom: 2px solid rgb(230,230,231);
    background: white;
}
.col-md-12,.col-md-11,.col-md-10,.col-md-9,.col-md-8,.col-md-7,.col-md-6,.col-md-5,.col-md-4,.col-md-3,.col-md-2,.col-md-1{
    padding: 0;
}
.select{
    margin-top:25px;
    border: none;
    border-bottom: 1px solid #7B7446;
    padding: 5px;
}
a{
    color:  #7B7446;
}
a:hover{
    color:  #7B7446;
}
