.addText {
    font-weight: normal;
}
.form-control {
    border-radius: 0;
    border-color: #7b7446;
}
input.form-control:focus,textarea.form-control:focus,select.form-control:focus {
    border-color: #7b7446;
}
.table_add {
    border: none;
}
.table_add > thead > tr > th,
.table_add > tbody > tr > th,
.table_add > tfoot > tr > th,
.table_add > thead > tr > td,
.table_add > tbody > tr > td,
.table_add > tfoot > tr > td {
    padding: 0;
    border-top: 0;
    line-height: 30px;
    padding-bottom: 20px;
}