@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
header {
    height: 112px;
}
ul {
    list-style: none;
}
iframe {
    display: block;
}
textarea {
    resize: none;
}
textarea,input {
    border: 1px solid #7B7446;
    padding-left: 5px;
}
textarea:focus,input:focus {
    outline-color: #7B7446;
}
a,a:hover,a:active {
    cursor: pointer;
    text-decoration: none;
}
a {
    color: #333;
}
a:hover,a:active {
    color: #7B7446;
}
.btn:focus {
    color: #fff;
}
.self {
    margin-top: 20px;
}
.selfSet {
    border: 1px solid #efefef;
}
.selfSet ul {
    padding: 0;
    margin: 2em 0;
}
.selfSet li:nth-of-type(1)>h4 {
    margin-top: 0;
}
.selfSet h4 {
    font-weight: 600;
    margin: 1.2em 0 0 0;
}
.col-lg-2,.col-lg-4,.col-lg-7,.col-lg-8 {
    padding: 0;
    margin: 0;
}
.selfSet li {
    padding: .4em 0;
    padding-left: 60px;
}
.current {
    border-left: 2px solid #7B7446;
}
.current a {
    color: #7B7446;
}


#selfContEdit {
    margin-bottom: 30px;
}
.selfContain,.backlog,.editSelf,.orderX {
    margin: 0;
    padding: 40px 20px;
}
.selfContain {
    border-bottom: 1px dashed #eee;
}
.selfContain ul {
    padding-left: 20px;
}
.selfContain>.selfOther li {
    line-height: 40px;
}
.userInfo {
    border-right: 1px solid #eee;
}
.selfContain>.userInfo li {
    line-height: 35px;
}
.userInfo i {
    font-size: 24px;
}
.userHeader,.userHead {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    cursor: pointer;
    margin-top: 2em;
    box-shadow: 0 0 5px #ccc;
    overflow: hidden;
    position: relative;
}
.intrInfo {
    color: #f00;
    padding-left: 10px;
}
#headerUp {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    opacity: 0;
    cursor: pointer;
}
.userHeader img,.userHead img {
    height: 100%;
    position: relative;
    left: -25px;
}
.userHead img {
    left: -15px;
}
.baseInfoOther {
    margin: 0;
    padding-top: 50px;
}
.hyCenter {
    padding: 20px 40px;
    color: #453f26;
}
.hyCenter p {
    color: #666;
}
.hyCenter span {
    color: #7B7446;
}
.hyCenter img {
    width: 100%;
}
#username {
    font-size: 1.8em;
}
.line {
    border: 1px solid #f00;
}
.selfOther li {
    margin-top: 1.5em;
}
.selfOther a {
    color: #7B7446;
}
.orderX {
    display: none;
}
.backlog,.orderX {
    padding: 20px;
}
.blTitle,.orderXT {
    background: rgb(246,245,243);
    padding: 15px 0;
}
.orderXC {
    color: #999;
    padding: 10px 20px;
    border: 1px solid #eee;
}
.orderXT {
    font-size: 18px;
}
.orderXCont>div {
    padding: 15px 0;
}
.orderXCont span,.sText {
    color: #7B7446;
}
.viewDes {
    cursor: pointer;
}
.rText {
    color: #e40000;
    font-size: 20px;
}
.cul {
    border-bottom: 1px dashed #eee;
}
.product {
    border: 1px solid rgb(246,245,243);
    text-align: center;
    border-top: none;
}
.product img {
    width: 150px;
    cursor: pointer;
}
.product div {
    line-height: 150px;
}
#op {
    margin-top: 40px;
}
#op div {
    line-height: 40px;
}
.wait {
    color: #f00;
}
.pay,.save {
    background: #7B7446;
    color: #fff;
}
.pay:hover,.save:hover {
    background: #7b785b;
    color: #fff;
}
.editSelf {
    border: 1px solid #eee;
    padding: 0 15px;
}
.esTitle {
    background: rgb(246,245,243);
}
.esTitle div {
    border: 1px solid #eee;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
}
.esTitle .currentList {
    border: none;
    border-top: 2px solid #7B7446;
    color: #7b785b;
    background: #fff;
}
.esCont {
    margin-top: 20px;
}
.selfE li {
    line-height: 70px;
}
.inputSet {
    line-height: 30px;
    padding: 0 5px;
    border: 1px solid #eee;
}
.inputSet:focus {
    outline: 1px solid #7B7446;
}
.esOther {
    margin: 0 0 20px 0;
}
.save {
    padding: 10px 40px;
}
.userHead {
    width: 70px;
    height: 70px;
    margin: 0;
}
#header {
    line-height: 0;
}
#user_show {
    width: 165px;
    height: 80px;
    padding: 0;
    margin: 0;
    line-height: 25px;
    border-color: #eee;
}
#user_show:focus {
    outline-color: #7B7446;
}
.updataTel {
    color: #7B7446;
    margin-left: 10px;
}


.interE {
    padding: 0 20px;
}
.interTitle {
    background: rgb(246,245,243);
    padding: 10px 5px;
    color: #7B7446;
}
.interList>div {
    padding-top: 20px;
}
.interProduct {
    border: 1px solid #efefef;
    padding-bottom: 20px;
}
.line {
    border: 1px solid #f00;
}
.imgD {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.imgDi {
    display: block;
    width: 100%;
    height: 100%;
}
.imgD img {
    height: 100%;
    transition: all .3s linear;
    cursor: pointer;
}
.imgD:hover img{
    transform: scale(1.1);
}
.imgD:hover .del {
    display: block;
    z-index: 99;
}
.del {
    background: rgba(0,0,0,.4);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    display: none;
    cursor: pointer;
    border-radius: 50%;
}
.del i {
    font-size: 32px;
}
.interPT {
    margin: 10px 0;
}
.interPT a {
    color: #7B7446;
}
.price {
    color: #f00;
}
.addressId {
    display: none;
}
.addressPop,.delPop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    display: none;
}

.apPC {
    padding: 10px 20px;
    font-size: 16px;
}
.apPC .col-lg-10 {
    padding: 0;
    margin: 0;
}
.apPC textarea {
    width: 100%;
    height: 120px;
    color: #7B7446;
}
.apPC input[type="text"] {
    width: 93%;
    color: #7B7446;
}
.apPC input[type="text"].consignee {
    width: 100%;
}
.apPC .row {
    margin: 15px 0;
}
.apPC select {
    width: 95%;
}
.addressPC {
    background: #fff;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    margin-top: 120px;
    position: relative;
}
.closeBtn {
    position: absolute;
    top: 0;
    right: 10px;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
}
.addressPTitle {
    color: #fff;
    font-size: 20px;
    background: #7B7446;
    padding: 10px 20px;
}

.delPC {
    text-align: center;
    height: 100%;
}
.delPCont {
    height: 70%;
    padding-top: 120px;
    font-size: 28px;
    color: #7B7446;
}
.addressPop .btn {
    border: 1px solid #7B7446;
    border-radius: 0;
    padding: 5px 40px;
    font-size: 18px;
    color: #7B7446;
}
.addressPop .yesBtn {
    color: #fff;
    background: #7B7446;
}


.addressEdit {
    overflow: hidden;
}
.addressCont {
    margin-top: 40px;
    border: 1px solid #eee;
}
.addressCT {
    padding: 10px 0;
    background: #eee;
    color: #7B7446;
}
.addressT a {
    color: #7B7446;
}
.addressCList {
    padding: 30px 0;
    border-bottom: 1px solid #EEEEEE;
}
.addressCList a,.interBtn {
    color: #7B7446;
    margin-left: 1em;
}
.addressCList a:hover {
    color: #637b54;
}
.addressCList a.btn,.interBtn {
    border: 1px solid #7B7446;
}


.pswEdit {
    display: none;
}
.pswEdit .row {
    margin: 20px 0;
}
.pswEdit .pswInput {
    border: 1px solid #7B7446;
    height: 2.5em;
    width:200px;
}
.pswEdit .pswInput:focus {
    outline-color: #7B7446;
}

.securityEdit {
    padding: 10px 20px;
    border: 1px solid #eee;
}
.securityEdit .row {
    border-bottom: 1px solid #efefef;
    padding: 20px 0;
}
.securityEdit .row:last-child {
    border: none;
}
.securityEdit a {
    color: #7B7446;
}

.orderGSelf {
    padding: 0 20px;
}
.orderGSelf .blTitle {
    padding-left: 10px;
}
.confProduct {
    background: #7b7446;
    color: #fff;
}
.confProduct:hover {
    color: #fff;
    background: #7b785b;
}
.search input {
    border: 1px solid #7B7446;
    width: 240px;
    padding: 8px 5px;
    margin-bottom: 20px;
}
.search input:focus {
    outline: none;
}
.search .save {
    padding: 8px 20px;
    margin-left: -5px;
    border-radius: 0;
    position: relative;
    top: -1px;
}
.decrise {
    overflow: hidden;
}
.cusInfo {
    line-height: 40px;
}
.cusList {
    padding: 0 20px;
}
.cusP {
    width: 95%;
    margin: 0 auto;
}
.cusPTop,.cusB {
    padding-left: 3px;
    position: relative;
}
.cusPCont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    padding-top: 20px;
}
.cusN {
    font-size: 20px;
}
.cusNum {
    font-size: 32px;
}
.use {
    background: #fff;
    color: #DE786B;
    padding: 2px 5px;
    border-radius: 2px;
}
.use:hover {
    color: #DE786B;
}
.cusB {
    overflow: hidden;
    cursor: pointer;
}
.cusBCont {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    padding: 0 10px;
}
.cusText {
    padding-top: 5px;
    width: 90%;
    line-height: 25px;
    display: inline-block;
    color: #DE786B;
}
.saleT {
    font-size: 18px;
    color: #7B7446;
    border-bottom: 1px solid #eee;
}
.saleC {
    margin-top: 10px;
}
.saleS {
    padding: 20px 20px 0 20px;
}
.search.saleS input {
    padding: 5px;
}
.search.saleS .save {
    padding: 5px 10px;
}
select {
    width: 60%;
    padding: 5px;
    color: #7B7446;
    border: none;
    border-bottom: 1px solid #7B7446;
}
select:focus {
    outline: none;
}
.colorRed {
    color: #f00;
}
.viewEdit {
    border: 1px solid #eee;
    padding: 0 15px;
    padding-bottom: 20px;
}
.viewTitle {
    font-size: 18px;
    color: #7b7446;
    padding: 10px 0;
    background-color: rgb(246,245,243);
}
.viewList {
    padding: 20px 0;
}
.viewLT {
    border-bottom: 1px solid #eee;
    margin: 10px 0;
}
.viewLT span {
    border-bottom: 1px solid #fff;
    position: relative;
    bottom: -4px;
    font-size: 24px;
    color: #7b7446;
}