<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>浅草登陆</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/index/login.css">
</head>
<body>
<div class="login_body">
    <div class="login">
        <h2>浅草登陆</h2>
        <form action="/login.do" method="post">
            <input type="text" name="username" placeholder=" 请输入您的账号">
            <input style="margin-top: 7%" name="pwd" type="password" placeholder=" 请输入密码">
            <button>登陆</button>
            <a href="/register">注册</a>
            <a href="/Retrievepassword" style="margin-right: 10%;text-align: right;margin-left: 0">忘记密码</a>
        </form>
    </div>
</div>

<script src="../js/jquery-3.3.1.js"></script>
<script src="../js/bootstrap.js"></script>
</body>
</html>