*{
    margin: 0;
    padding: 0;
}
@media screen and (max-width:1168px){
    .stay-list{margin: 50px 0 30px 0;}
    .stay-list-left{
        width: 440px;
        height: 360px;
        padding: 16px 23px 43px 23px;
    }
}
.item img{
    width: 100%;
}
.bigAddres{
    width: 120px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 28px;
    background: #fbf9f4;
    outline:none;
}
.someAddres{
    width: 120px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 16px;
    background: #fbf9f4;
    outline:none;
}
.partition{
    background-image: url("../../img/lease/main_004.jpg");
    height: 620px;
    padding-top: 80px;
}
.partitionDiv{
    background: rgba(211, 211, 211, 0.76);
    height: 360px;
    transition: all .3s linear;
}
.partitionDiv:hover{
    box-shadow: 4px 4px 2px rgba(136, 136, 136, 0.73);
    margin-top: -10px;
    margin-left: -2px;
}
.partitionDivText{
    font-size: 24px;
    text-align: center;
    line-height: 80px;
}
.partitionDivText2{
    font-size: 14px;
    line-height: 40px;
    color: #b4b4b4;
    text-align: center;
}
.partitionDivImg{
    width: 150px;
    height: 150px;
    background-image: url("../../img/lease/duan.png");
    background-size: 100% 100%;
    margin: 0 auto;
}
.partitionDivDiv{
    width: 150px;
    background: #fafbfc;
    border: 1px solid #e4e6e9;
    height: 38px;
    border-radius: 2px;
    text-align: center;
    line-height: 38px;
    margin: 15px auto;
}
.partitionDivDiv:hover{
    background: #7b7446;
    cursor:pointer;
    color: #FFFFFF;
}
.headDiv{
    height: 80px;
    width: 100%;
}
.advantage{
    height: 100px;
    border-left: 1px solid #b4b4b4;
}
.advantage_1{
    border-right: 1px solid #b4b4b4;
}
.advantageImg{
    width: 60px;
    height: 62px;
    background-size: 100% 100%;
    margin: 18px auto;
}
.advantageImgU1{
    background-image: url("../../img/lease/jian_03.gif");
}
.advantageImgU2{
    background-image: url("../../img/lease/jian_06.gif");
}
.advantageImgU3{
    background-image: url("../../img/lease/jian_08.gif");
}
.advantageImgU4{
    background-image: url("../../img/lease/jian_10.gif");
}
.combination1{
    line-height: 40px;
    font-size: 34px;
    color: #2f2f39;
    text-align: center;
}
.combination{
    margin-top: 80px;
    line-height: 40px;
    font-size: 34px;
    color: #2f2f39;
    text-align: center;
}
.combinationSome{
    font-size: 15px;
    color: #93939e;
    text-align: center;
    margin-bottom: 40px;
}
.bgfbf9f4{
    background: #fbf9f4;
}
.exhibition{
    width: 100%;
    height: 600px;
    background-image: url("../../img/lease/download.jpg");
    background-size: 100% 100%;
    padding-top: 60px;
    position: relative;
}
#lrMargin0{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
.exhibitionOneBox{
    width: 560px;
    height: 138px;
    position: absolute;
    top: 110px;
    left: 124px;
    overflow: hidden;
}
.exhibitionOneBox img{
    height: 132px;
}
.jiantouL{
    width: 0;
    height: 0;
    float: left;
    border-top: 28px solid transparent;
    border-right: 48px solid #466f20;
    border-bottom: 28px solid transparent;
    position: absolute;
    top: 130px;
    left: 50px;
}
.jiantouR{
    width: 0;
    height: 0;
    float: left;
    border-top: 28px solid transparent;
    border-left: 48px solid #466f20;
    border-bottom: 28px solid transparent;
    position: absolute;
    top: 130px;
    left: 710px;
}