*{
    margin: 0;
    padding: 0;
}
.details{
    padding-top: 60px;
    padding-bottom: 60px;
    background: #f0eee2;
}
.productOne{
    background: #FFFFFF;
    height: 600px;
    width: 1200px;
    margin: 0 auto;
}
.productText{
    transition: all 1s linear;
    opacity:0.2;
    margin-top: 150px;
    float: left;
}
.productText2{
    opacity:0.2;
    transition: all 1s linear;
    margin-top: 150px;
    float: right;
    width: 600px;
}
.productText p{
    margin-bottom: 40px;
    margin-left: 100px;
}
.productText2 p{
    margin-bottom: 40px;
    margin-left: 100px;
}
.productTitle2{
    margin-top: 180px;
    font-size: 21px;
    margin-left: 100px;
}
.productTitle{
    margin-top: 180px;
    font-size: 21px;
    margin-left: 100px;
}
.productImg{
    float: right;
}
.productImg2{
    float: left;
}
.productImg2 img{
    width: 600px;
}
.productImg img{
    width: 600px;
}
@media screen and (max-width: 1320px) {

}
@media screen and (max-width: 1220px) {
    .productImg2 img{
        width: 550px;
    }
    .productImg img{
        width: 550px;
    }
    .productText2{
        width: 550px;
    }
    .productOne{
        height: 550px;
        width: 1100px;
    }
}
@media screen and (max-width: 1120px) {
    .productImg2 img{
        width: 500px;
    }
    .productImg img{
        width: 500px;
    }
    .productText2{
        width: 500px;
    }
    .productOne{
        height: 500px;
        width: 1000px;
    }
}
@media screen and (max-width: 1020px) {
    .productImg2 img{
        width: 450px;
    }
    .productImg img{
        width: 450px;
    }
    .productText2{
        width: 450px;
    }
    .productOne{
        height: 450px;
        width: 900px;
    }
}