<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>论坛帖子</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/forum/forumMain.css"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <%-include('../mateheader.ejs')%>
</header>
<div class="fmContent">
    <div class="row fmNav">
        <div class="col-lg-6">
            <ul class="crumbs">
                <li>
                    <a href="#">论坛首页</a>
                </li>
                <li>&gt;</li>
                <li>
                    <a href="#">多肉养殖</a>
                </li>
                <li>&gt;</li>
                <li>正文</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-7"></div>
            <div class="col-lg-3">
                <a href="#" role="button" class="btn borderBtn">本版块精华列表</a>
            </div>
            <div class="col-lg-2">
                <a href="#" role="button" class="btn postBtn">发帖</a>
            </div>
        </div>
    </div>
    <div class="fmTitle">多肉的基础养殖方法</div>
    <div class="fmPage row">
        <div class="col-lg-6 fmView">
            <span>查看222</span>
            <span>回复33</span>
        </div>
        <div class="col-lg-6 fmPaging text-right">
            <a href="#">首页</a>
            <a href="#" class="currentA">1</a>
            <a href="#">尾页</a>
            <span>共1页</span>
            <span>到第</span>
            <input type="text"/>
            <span>页</span>
            <a href="#" role="button" class="btn">确认</a>
        </div>
    </div>
    <div class="fmInvi">
        
    </div>
</div>



<%-include('../matefooter.ejs')%>
<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>