<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>论坛个人中心</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/forum/forumSelf.css"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%-include('../mateheader.ejs')%>
<div class="navHidden"></div>
<section class="content">
    <div class="row selfBg">
        <div class="selfBgBlack">
            <div class="col-md-6 selfNav">
                <div class="col-md-5">
                    <p>等级</p>
                    <span>铜羽一级</span>
                </div>
                <div class="col-md-5">
                    <p>肉肉币</p>
                    <span>0.00</span>
                </div>
            </div>
            <div class="col-md-6  selfNav">
                <div class="col-md-5 col-md-offset-2">
                    <p>关注</p>
                    <span>0</span>
                </div>
                <div class="col-md-5">
                    <p>粉丝</p>
                    <span>0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="touxiang">
        <div class="touxiangT"></div>
    </div>
    <div class="touxiangDw"></div>
    <p class="juzhong">FNYX10902092</p>
    <p class="juzhong"><a href="#">编辑</a></p>
    <p class="juzhong">签名|暂无</p>
    <div></div>
</section>


<%-include('../matefooter.ejs')%>
</body>
</html>