<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>论坛</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/forum/forumIndex.css"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%-include('../mateheader.ejs')%>
<div class="banner"></div>

<section class="content">
    <div class="fiTitle text-center">论坛精选</div>
    <div class="fiContent row">
        <div class="col-lg-4 fiList">
            <a href="#" class="fiCImg">
                <img src="img/forum/1.jpg" alt=""/>
            </a>
            <div class="fiDesc row">
                <div class="col-lg-6">
                    <img src="img/forum/headerImg1.jpg" class="headerImg" alt=""/>
                    <a href="#">xxx</a>
                </div>
                <div class="col-lg-6 text-right">
                    <span>3019</span>
                    <span>20</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 fiList">
            <a href="#" class="fiCImg">
                <img src="img/forum/2.jpeg" alt=""/>
            </a>
            <div class="fiDesc row">
                <div class="col-lg-6">
                    <img src="img/forum/headerImg1.jpg" class="headerImg" alt=""/>
                    <a href="#">xxx</a>
                </div>
                <div class="col-lg-6 text-right">
                    <span>3019</span>
                    <span>20</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 fiList">
            <a href="#" class="fiCImg">
                <img src="img/forum/3.jpg" alt=""/>
            </a>
            <div class="fiDesc row">
                <div class="col-lg-6">
                    <img src="img/forum/headerImg1.jpg" class="headerImg" alt=""/>
                    <a href="#">xxx</a>
                </div>
                <div class="col-lg-6 text-right">
                    <span>3019</span>
                    <span>20</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="fiTitle text-center">主题论坛</div>
    <div class="remContent row">
        <div class="col-lg-3 rcList">
            <a href="#" class="rcListC">
                <img src="img/forum/1.jpg" alt=""/>
                <a href="#" class="rcListT">多肉养殖</a>
            </a>
        </div>
        <div class="col-lg-3 rcList">
            <a href="#" class="rcListC">
                <img src="img/forum/1.jpg" alt=""/>
                <a href="#" class="rcListT">多肉养殖</a>
            </a>
        </div>
        <div class="col-lg-3 rcList">
            <a href="#" class="rcListC">
                <img src="img/forum/1.jpg" alt=""/>
                <a href="#" class="rcListT">多肉养殖</a>
            </a>
        </div>
        <div class="col-lg-3 rcList">
            <a href="#" class="rcListC">
                <img src="img/forum/1.jpg" alt=""/>
                <a href="#" class="rcListT">多肉养殖</a>
            </a>
        </div>
    </div>
    <div class="remContent row">
        <div class="col-lg-3 rcList">
            <a href="#" class="rcListC">
                <img src="img/forum/1.jpg" alt=""/>
                <a href="#" class="rcListT">多肉养殖</a>
            </a>
        </div>
        <div class="col-lg-3 rcList">
            <a href="#" class="rcListC">
                <img src="img/forum/1.jpg" alt=""/>
                <a href="#" class="rcListT">多肉养殖</a>
            </a>
        </div>
        <div class="col-lg-3 rcList">
            <a href="#" class="rcListC">
                <img src="img/forum/1.jpg" alt=""/>
                <a href="#" class="rcListT">多肉养殖</a>
            </a>
        </div>
        <div class="col-lg-3 rcList">
            <a href="#" class="rcListC">
                <img src="img/forum/1.jpg" alt=""/>
                <a href="#" class="rcListT">多肉养殖</a>
            </a>
        </div>
    </div>
</section>

<%-include('../matefooter.ejs')%>
<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>