<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/forum/forumIndex.css">
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!-- header -->
	<iframe src="index/header" frameborder="0" width="100%" height="220px"></iframe>
	<!-- contain -->
	<div class="container">
		<section class="banner row">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 bannerImg noPadding">
				<a href="/forumMain" class="row bannerLink">
					<img src="img/forum/lun1.jpg" alt="">
					<a href="/forumMain" class="bannerDes">多肉的培养简单，但还是多肉年幼时，需要注意浇水的次数.多肉的培养简单，但还是多肉年幼时，需要注意浇水的次数.多肉的培养简单，但还是多肉年幼时，需要注意浇水的次数.</a>
				</a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<div class="posted">
					<p><i class="iconfont">&#xe604;</i><span>100</span>篇养殖攻略</p>
					<p><i class="iconfont">&#xe62a;</i><span>1000</span>篇帖子</p>
					<p><i class="iconfont">&#xe63c;</i><span>2000</span>位萌友</p>
					<a href="/forumMain" role="button" class="btn postedBtn">发布帖子</a>
				</div>
			</div>
		</section>

		<section class="postContent">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 noPadding">
				<ul>
					<li class="postCont">
						<div class="psC">
							<div class="psText">
								<h4>
									<a class="moveLeft" href="/forumMain">多肉养殖的小秘诀</a>
								</h4>
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 noPadding">
										<a href="/forumMain" class="postLink">
											<img src="img/forum/1.jpg" alt="">
										</a>
									</div>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 noPadding postText">
										<a href="/forumMain">
											多肉养殖应注意浇水的时期和浇水的方法，不宜过多，也不宜久旱不浇水，年幼的多肉要多浇水，但也不要太多次浇水，一天保证一两次就足够了。
										</a>
									</div>
								</div>	
							</div>
							<div class="row postBottom">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<span><i class="iconfont">&#xe64c;</i>2018-06-13</span>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
									<span><i class="iconfont">&#xe61a;</i>34</span>
									<span><i class="iconfont">&#xe63b;</i>10</span>
								</div>
							</div>
						</div>
					</li>
					<li class="postCont">
						<div class="psC">
							<div class="psText">
								<h4>
									<a class="moveLeft" href="/forumMain">多肉养殖的小秘诀</a>
								</h4>
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 noPadding">
										<a href="/forumMain" class="postLink">
											<img src="img/forum/1.jpg" alt="">
										</a>
									</div>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 noPadding postText">
										<a href="/forumMain">
											多肉养殖应注意浇水的时期和浇水的方法，不宜过多，也不宜久旱不浇水，年幼的多肉要多浇水，但也不要太多次浇水，一天保证一两次就足够了。
										</a>
									</div>
								</div>	
							</div>
							<div class="row postBottom">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<span><i class="iconfont">&#xe64c;</i>2018-06-13</span>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
									<span><i class="iconfont">&#xe61a;</i>34</span>
									<span><i class="iconfont">&#xe63b;</i>10</span>
								</div>
							</div>
						</div>
					</li>
					<li class="postCont">
						<div class="psC">
							<div class="psText">
								<h4>
									<a class="moveLeft" href="/forumMain">多肉养殖的小秘诀</a>
								</h4>
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 noPadding">
										<a href="/forumMain" class="postLink">
											<img src="img/forum/1.jpg" alt="">
										</a>
									</div>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 noPadding postText">
										<a href="/forumMain">
											多肉养殖应注意浇水的时期和浇水的方法，不宜过多，也不宜久旱不浇水，年幼的多肉要多浇水，但也不要太多次浇水，一天保证一两次就足够了。
										</a>
									</div>
								</div>	
							</div>
							<div class="row postBottom">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<span><i class="iconfont">&#xe64c;</i>2018-06-13</span>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
									<span><i class="iconfont">&#xe61a;</i>34</span>
									<span><i class="iconfont">&#xe63b;</i>10</span>
								</div>
							</div>
						</div>
					</li>
					<li class="postCont">
						<div class="psC">
							<div class="psText">
								<h4>
									<a class="moveLeft" href="/forumMain">多肉养殖的小秘诀</a>
								</h4>
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 noPadding">
										<a href="/forumMain" class="postLink">
											<img src="img/forum/1.jpg" alt="">
										</a>
									</div>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 noPadding postText">
										<a href="/forumMain">
											多肉养殖应注意浇水的时期和浇水的方法，不宜过多，也不宜久旱不浇水，年幼的多肉要多浇水，但也不要太多次浇水，一天保证一两次就足够了。
										</a>
									</div>
								</div>	
							</div>
							<div class="row postBottom">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<span><i class="iconfont">&#xe64c;</i>2018-06-13</span>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
									<span><i class="iconfont">&#xe61a;</i>34</span>
									<span><i class="iconfont">&#xe63b;</i>10</span>
								</div>
							</div>
						</div>
					</li>
					<li class="postCont">
						<div class="psC">
							<div class="psText">
								<h4>
									<a class="moveLeft" href="/forumMain">多肉养殖的小秘诀</a>
								</h4>
								<div class="row">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 noPadding">
										<a href="/forumMain" class="postLink">
											<img src="img/forum/1.jpg" alt="">
										</a>
									</div>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 noPadding postText">
										<a href="/forumMain">
											多肉养殖应注意浇水的时期和浇水的方法，不宜过多，也不宜久旱不浇水，年幼的多肉要多浇水，但也不要太多次浇水，一天保证一两次就足够了。
										</a>
									</div>
								</div>	
							</div>
							<div class="row postBottom">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<span><i class="iconfont">&#xe64c;</i>2018-06-13</span>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
									<span><i class="iconfont">&#xe61a;</i>34</span>
									<span><i class="iconfont">&#xe63b;</i>10</span>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<div class="hot search">
					<input type="text" placeholder="搜索">
				</div>
				<div class="hot recommed">
					<p class="hotTitle">推荐文章</p>
					<ul>
						<li>
							<span class="mc">0<span class="fontW first">1</span></span>
							<a href="/forumMain" class="moveLeft">多肉养殖的小秘诀</a>
						</li>
						<li>
							<span class="mc">0<span class="fontW">2</span></span>
							<a href="/forumMain" class="moveLeft">多肉养殖的小秘诀</a>
						</li>
						<li>
							<span class="mc">0<span class="fontW">3</span></span>
							<a href="/forumMain" class="moveLeft">多肉养殖的小秘诀</a>
						</li>
						<li>
							<span class="mc">04</span>
							<a href="/forumMain" class="moveLeft">多肉养殖的小秘诀时尚生活的</a>
						</li>
						<li>
							<span class="mc">05</span>
							<a href="/forumMain" class="moveLeft">多肉养殖的小秘诀</a>
						</li>
						<li>
							<span class="mc">06</span>
							<a href="/forumMain" class="moveLeft">多肉养殖的小秘诀</a>
						</li>
						<li>
							<span class="mc">07</span>
							<a href="/forumMain" class="moveLeft">多肉养殖的小秘诀</a>
						</li>
						<li>
							<span class="mc">08</span>
							<a href="/forumMain" class="moveLeft">多肉养殖的小秘诀</a>
						</li>
						<li>
							<span class="mc">09</span>
							<a href="/forumMain" class="moveLeft">多肉养殖的小秘诀</a>
						</li>
					</ul>
				</div>
				<div class="hot recommed">
					<p class="hotTitle">图文并茂</p>
					<ul>
						<li class="tw">
							<a href="/forumMain" class="imgLink">
								<img src="img/forum/1.jpg" alt="">
							</a>
							<a href="/forumMain">多肉养殖的小秘诀</a>
						</li>
						<li class="tw">
							<a href="/forumMain" class="imgLink">
								<img src="img/forum/1.jpg" alt="">
							</a>
							<a href="/forumMain">多肉养殖的小秘诀</a>
						</li>
						<li class="tw">
							<a href="/forumMain" class="imgLink">
								<img src="img/forum/1.jpg" alt="">
							</a>
							<a href="/forumMain">多肉养殖的小秘诀</a>
						</li>
					</ul>
				</div>
				<div class="hot hotClick">
					<p class="hotTitle">热门点击</p>
					<ul>
						<li>
							<span class="mc">
								【
								<a href="/forumMain">多肉养殖</a>
								】
							</span>
							<a href="/forumMain">多肉养殖的小秘诀</a>
						</li>
						<li>
							<span class="mc">
								【
								<a href="/forumMain">多肉养殖</a>
								】
							</span>
							<a href="/forumMain">多肉养殖的小秘诀</a>
						</li>
						<li>
							<span class="mc">
								【
								<a href="/forumMain">多肉养殖</a>
								】
							</span>
							<a href="/forumMain">多肉养殖的小秘诀</a>
						</li>
						<li>
							<span class="mc">
								【
								<a href="/forumMain">多肉养殖</a>
								】
							</span>
							<a href="/forumMain">多肉养殖的小秘诀时尚生活的</a>
						</li>
						<li>
							<span class="mc">
								【
								<a href="/forumMain">多肉养殖</a>
								】
							</span>
							<a href="/forumMain">多肉养殖的小秘诀</a>
						</li>
						<li>
							<span class="mc">
								【
								<a href="/forumMain">多肉养殖</a>
								】
							</span>
							<a href="/forumMain">多肉养殖的小秘诀</a>
						</li>
						<li>
							<span class="mc">
								【
								<a href="/forumMain">多肉养殖</a>
								】
							</span>
							<a href="/forumMain">多肉养殖的小秘诀</a>
						</li>
						<li>
							<span class="mc">
								【
								<a href="/forumMain">多肉养殖</a>
								】
							</span>
							<a href="/forumMain">多肉养殖的小秘诀</a>
						</li>
						<li>
							<span class="mc">
								【
								<a href="/forumMain">多肉养殖</a>
								】
							</span>
							<a href="/forumMain">多肉养殖的小秘诀</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</div>

	<div id="top">TOP</div>
	<!-- footer -->
	<iframe src="index/footer" frameborder="0" width="100%" height="370px"></iframe>
	<script src="js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script>
		$("#top").click(function() {
			console.log($("html").scrollTop());
			$("html").animate({
				scrollTop:0
			},1000);
		});
    </script>
</body>
</html>