<div class="backlog">
    <div class="row blTitle">
        <div class="col-lg-4">
            <input type="checkbox"/>
            下单时间：<span>2018-06-06 08:46:56</span>
        </div>
        <div class="col-lg-2">
            订单号：<span>35842043</span>
        </div>
        <div class="col-lg-6 text-right">
            <a href="#">查看全部订单</a>
        </div>
    </div>
    <div class="row product">
        <div class="col-lg-5">
            <div class="col-lg-6 text-left" >
                <img src="img/one/001.jpg" alt=""/>
            </div>
            <span class="col-lg-6 decrise">红宝石多肉，美丽..</span>
        </div>
        <div class="col-lg-2">已购</div>
        <div class="col-lg-2">￥100.00</div>
        <div class="col-lg-3 text-right">
            <a href="#">查看详情</a>
        </div>
    </div>
</div>