<h3>合作方式</h3>
<h5>您可以根据您的所在地区，联系我们的大客户经理：</h5>
<p><b>1. 华北地区 </b>（北京 / 天津 / 山东 / 山西 / 河北 / 河南 / 辽宁 / 吉林 / 黑龙江 / 内蒙古）</p>
<p>华北大客户专线：010-82558393</p>
<p><b>2. 华南地区 </b>（广东 / 广西 / 福建 / 海南 / 湖南）</p>
<p>华南大客户专线：020-85105650</p>
<p><b>3. 华东地区 </b>（上海 / 江苏 / 浙江 / 江西 / 安徽 / 湖北）</p>
<p>华东大客户专线：021-61947053</p>
<p>如以上电话长期无人接听，欢迎致电400-0008-163，或发送合作邮件至yanxuanka@163.com</p>
<p>邮件格式如下：</p>
<p>邮件标题：分销合作或批量采购-企业名称，例如：“分销合作-杭州网易严选贸易有限公司”</p>
<p>邮件内容：①公司名称，如：xx有限公司</p>
<p>②合作类型，如：分销-代销/分销-经销/一次性批量采购/长期批量采购</p>
<p>③联系人姓名+手机号码，如：黄先生/15688888888</p>
<p>④公司地址，如：浙江省杭州市滨江区网商路599号</p>
<p>您也可以前往网易严选企业采购网站进行批量采购（注册帐户认证企业信息即可直接采购）</p>
<p>网易严选企业购：http://b.you.163.com</p>