<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人中心</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/self.css"/>
    <link rel="stylesheet" href="css/modelCss.css"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%-include('../index/header.ejs')%>
<section style="margin-top: 220px;">
    <div class="container self">
        <div class="row">
            <aside class="col-lg-2 col-md-2 col-sm-2 col-xs-2 selfSet">
                <ul>
                    <li>
                        <h4>账号管理</h4>
                    </li>
                    <li id="selfC">
                        <a href="/self">个人中心</a>
                    </li>
                    <li id="info">
                        <a href="/selfE">账号信息</a>
                    </li>
                    <li id="address">
                        <a href="/address">地址管理</a>
                    </li>
                    <li id="security">
                        <a href="/security">安全中心</a>
                    </li>
                    <li id="collect">
                        <a href="/collect">我的收藏</a>
                    </li>
                    <li id="view">
                        <a href="/view">我的足迹</a>
                    </li>
                    <li>
                        <h4>交易管理</h4>
                    </li>
                    <li id="orderG">
                        <a href="/orderG">订单管理</a>
                    </li>
                    <li class="current" id="coupons">
                        <a href="/coupons">优惠卷</a>
                    </li>
                    <li>
                        <h4>服务中心</h4>
                    </li>
                    <li id="afterSale">
                        <a href="/afterSale">售后记录</a>
                    </li>
                    <li id="help">
                        <a href="/help">帮助中心</a>
                    </li>
                </ul>
            </aside>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" id="selfContEdit">
                <div class="orderGSelf coupons">
                    <div class="row search">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="text" placeholder="请输入优惠码"/>
                            <button class="btn save">匀兑</button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center cusInfo">
                            <a href="#">如何使用优惠卷&gt;&gt;&gt;</a>
                        </div>
                    </div>
                    <div class="row esTitle">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 currentList" id="ksy">可使用</div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="ysy">已使用</div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="ysx">已失效</div>
                    </div>
                    <div class="row esCont">
                        <div class="row cusList">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="cusP">
                                    <div class="cusPTop">
                                        <img src="img/cusContent.png" alt=""/>
                                        <div class="row cusPCont">
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cusN text-center">
                                                <span class="cusNum">10</span>元
                                            </div>
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                                <div>每满99减10元券</div>
                                                <div class="time">2018.06.08-2018.06.08</div>
                                                <div>
                                                    <a class="use" href="#">去使用</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cusB">
                                        <img src="img/cusBottom.png" alt=""/>
                                        <div class="cusBCont">
                                            <div class="cusText">文体-户外、文具类目专享；限时购、特价等特惠商品及详情页标注不可用券的商品除外</div>
                                            <!--<i class="cusIcon">s</i>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="cusP">
                                    <div class="cusPTop">
                                        <img src="img/cusContent.png" alt=""/>
                                        <div class="row cusPCont">
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cusN text-center">
                                                <span class="cusNum">10</span>元
                                            </div>
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                                <div>每满99减10元券</div>
                                                <div class="time">2018.06.08-2018.06.08</div>
                                                <div>
                                                    <a class="use" href="#">去使用</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cusB">
                                        <img src="img/cusBottom.png" alt=""/>
                                        <div class="cusBCont">
                                            <div class="cusText">文体-户外、文具类目专享；限时购、特价等特惠商品及详情页标注不可用券的商品除外</div>
                                            <!--<i class="cusIcon">s</i>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="cusP">
                                    <div class="cusPTop">
                                        <img src="img/cusContent.png" alt=""/>
                                        <div class="row cusPCont">
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cusN text-center">
                                                <span class="cusNum">10</span>元
                                            </div>
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                                <div>每满99减10元券</div>
                                                <div class="time">2018.06.08-2018.06.08</div>
                                                <div>
                                                    <a class="use" href="#">去使用</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cusB">
                                        <img src="img/cusBottom.png" alt=""/>
                                        <div class="cusBCont">
                                            <div class="cusText">文体-户外、文具类目专享；限时购、特价等特惠商品及详情页标注不可用券的商品除外</div>
                                            <!--<i class="cusIcon">s</i>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%-include('../index/footer.ejs')%>

<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/self.js"></script>
<script src="js/buy/distpicker.data.js"></script>
<script src="js/buy/distpicker.js"></script>
<script src="js/buy/main.js"></script>

</body>
</html>