<h3>价保规则</h3>
<h5>什么是价格保护？</h5>
<p>为保护用户权益，在网易严选购物后，如商品出现降价或特价，在价保规则范围内，将补退用户与差额部分等值的礼品卡。注：差额以用户实际支付金额计算。</p>
<h5>价格保护的时间范围：</h5>
<p>订单支付成功后至确认收货7天内支持价格保护。</p>
<h5>如何申请价格保护？</h5>
<p>1.用户端申请：可在网易严选App或网易严选官网在线申请价格保护。</p>
<p>2.咨询网易严选在线客服。</p>
<h5>不享受价保规则说明：</h5>
<p>1.非网易严选主站及网易严选官方App购买的商品不支持价格保护。</p>
<p>2.无效订单（未完成支付、已申请取消、已取消、已删除）订单，不支持价格保护。</p>
<p>3.拼团订单不支持价格保护。</p>
<p>4.不同规格型号商品不支持价格保护。</p>
<p>5.商品已申请售后，不支持价保。</p>
<p>6.超过对应商品类目价格保护周期、商品价格未变化不支持价保。</p>
<p>7.同一商品只能申请价保一次，已成功申请、申请中的价格保护的商品不可再次申请。</p>
<p>8.购买商品有赠品、赠券，本身为赠品的商品，不支持价格保护。</p>
<p>9.购买前无赠品，购买后有赠品，商品本身未降价，不支持价格保护。</p>
<p>10.临保特价活动订单不支持价格保护。</p>
<p>11.商品参加N元任选、套装、满件减、满赠、满折、秒杀、限时购、年购、众筹、包邮等活动，订单商品均不支持价格保护。</p>
<p>12.下单时已使用优惠券、红包，订单商品均不支持价格保护。</p>
<p>13.其他网页有特殊说明的商品不支持价格保护。</p>