<h3>配送范围及费用</h3>
<h5>配送范围</h5>
<p>网易严选配送范围覆盖全国大部分地区（部分商品不支持配送港澳台地区）； 其中部分商品也支持海外国家地区配送（欧盟主要国家和日韩），详细支持配送海外地区见商品详情页服务中说明。</p>
<h5>配送费用</h5>
<p>大陆地区：对于单笔所购商品总价金额（不含运费）大于或等于88元，提供一次免费送货服务；若消费金额不满88元，每单将收取10元运费。</p>

<p>港澳台地区：需满500元免邮，不满足则每单收取30元运费。</p>

<p>海外国家地区：运费将按照商品重量和选择的配送方式收取，具体订单的运费以订单结算页公示金额为准。 如对运费收取有任何异议，请联系严选客服进行咨询沟通。</p>

<p>特别说明：严选不承担海外配送目的国的进口关税，严选销售的商品价格均未包含进口税金。如遇海关查验、查扣等情景，请您根据要求配合缴纳税金，否则严选无法保证配送成功。</p>