<h3>退货流程</h3>
<h5>1.提交申请</h5>
<p>1）登录后点击我的订单，进入订单管理。</p>

<p>2）包裹发货后，会在该包裹状态列出现“申请售后”的入口，选择“申请退货”，点击下一步。（说明：提交售后申请后，如果该包裹未确认收货，系统会自动确认收货）</p>

<p>3）在该商品列表中选择要退货的商品和数量，并选择退货原因、上传商品照片。</p>

<p>4）选择寄回方式（受快递服务商服务限制，部分商品和地区不支持上门取件）。如选择上门取件，请确认取件地址、联系人和联系方式并预约取件时间；选择自行寄回，请确认联系人和联系方式，提交退货申请之后等待客服审核。</p>

<h5>2.客服受理</h5>
<p>1）在提交退货申请后，会出现“售后进度”的入口。</p>

<p>2）您可通过“售后进度”来查询退货当前的处理状态。</p>

<p>3）在客服审核通过您的退货申请之后，会通过短信提示您。如您选择寄回方式为上门取件，在您预约取件当日快递服务商会提前与您联系并按时上门取走商品（实际取件服务时间以快递服务商为准），您也可在“售后进度”中查看实时进度；如您选择寄回方式为自行寄回，严选会将退货地址发送到您预留的手机号码上，也可以在“售后进度”中查看。</p>


<h5>3.寄回退货</h5>
<p>1）寄回方式为上门取件，退货申请会在快递员取件成功并更新物流信息后，状态变更为待严选收货，无需您的操作；如您选择自行寄回，在您将退货的商品寄出后，在此填写相关物流信息及运费金额。</p>

<p>2）提交完物流信息后，会在进度中进行记录。</p>

<h5>4.严选收货</h5>
<p>1）在提交物流信息后，等待严选收货。</p>

<p>2）严选收货后，等待客服确认并处理退款。</p>

<h5>5.完成退款</h5>
<p>收到退货包裹并确认无误后，网易严选将在48小时内进行退款。</p>
<p>退款将原路返还，不同的银行处理时间不同，预计1-5个工作日到账。</p>
