<div class="row selfContain">
    <div class="col-lg-4 userInfo">
        <div class="col-lg-4 userHeader"></div>
        <div class="col-lg-7">
            <ul>
                <li id="username">xxx</li>
                <li id="selfTel">18200000000</li>
                <li id="modify">
                    <a href="#">编辑个人资料</a>
                </li>
                <li id="address">
                    <a href="#">地址管理</a>
                </li>
                <li id="goods">
                    <a href="#">订单管理</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-7 col-lg-offset-1 selfOther">
        <div class="col-lg-6">
            <ul>
                <li class="row">
                    <span class="col-lg-4">我的红包</span>
                    <a href="#" class="col-lg-8">￥0.00</a>
                </li>
                <li class="row">
                    <span class="col-lg-4">可兑返利</span>
                    <a href="#" class="col-lg-8">￥0.00</a>
                </li>
                <li class="row">
                    <span class="col-lg-4">我的积分</span>
                    <a href="#" class="col-lg-8">0</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <ul>
                <li class="row">
                    <span class="col-lg-4">优惠卷</span>
                    <a href="#" class="col-lg-8">0张</a>
                </li>
                <li class="row">
                    <span class="col-lg-4">礼品卡</span>
                    <a href="#" class="col-lg-8">￥0.00</a>
                </li>
                <li class="row">
                    <span class="col-lg-4">待领礼包</span>
                    <a href="#" class="col-lg-8">0个</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="backlog">
    <div class="row blTitle">
        <div class="col-lg-6">未完成订单</div>
        <div class="col-lg-6 text-right">
            <a href="#">查看全部订单</a>
        </div>
    </div>
    <div class="row product">
        <div class="col-lg-2">
            <a href="#">订单号：xxxxxxx</a>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-7" >
                <img src="img/one/001.jpg" alt=""/>
            </div>
            <span class="col-lg-3">支付宝支付</span>
            <span class="col-lg-2 wait">未付款</span>
        </div>
        <div class="col-lg-2">￥100.00</div>
        <div class="col-lg-2">
            <a href="#" role="button" class="btn pay">
                付款
                <span id="countDown">20:00</span>
            </a>
        </div>
    </div>
</div>
