<h3>服务细则</h3>
<h5>一、商品签收</h5>

<p>1、当面验收</p>
<p>为保障消费者自身权益，网易严选建议消费者在签收商品前务必进行当面验收，检查货物外包装及内物外观，在确定货物完好无损后，再进行签收；如果物流公司不支持先验货再签收，请致电严选客服之后拒绝签收。如在验收过程中发现外包装破损、商品出现破损、少件等问题，请自行拍照并让配送人员签字，保留相关证据，联系严选客服进行核实处理；如消费者未进行验收即做签收，将默认为消费者已经对商品进行了当面验收，商品后期出现问题建议消费者联系严选客服做售后处理；</p>

<p>2、委托他人代收</p>
<p>请务必告知被委托人签收标准，委托他人代收的行为视同于您本人已对商品进行签收，消费者不能因此拒收商品，若拒收，运费将由您承担。</p>

<h5>二、配送及安装</h5>
<p>针对大件家具，网易严选可以支持“送货上门并安装”服务，具体以商品页面公示为准，网易严选提醒消费者仔细阅读相关页面信息。另外，送货安装属于第三方服务公司为消费者提供，不接受预定时间上门服务，请消费者支持与配合。</p>

<p>1、送货上门并安装</p>
<p>1）购买的商品网易严选可以支持“送货上门并安装”服务；</p>
<p>2）具体可提供送货上门并安装的服务覆盖区域，以页面最底部公示为准；</p>
<p>3）家具到达消费者当地物流点后，第三方服务公司会致电预约上门时间，期间请消费者保持电话通畅，不要过滤400开头服务电话和陌生电话；</p>
<p>4）消费者收货地址距离当地物流点超过20公里，超出部分按5元/公里收取费用，该笔费用由消费者直接支付给第三方服务公司，当地物流点具体地址请联系严选客服；</p>
<p>5）消费者在购买时请和严选客服仔细确认发货时间，避免到货后因消费者原因造成延后送货安装而产生的仓储费用，第三方服务公司免费提供3个工作日仓储，超过3个工作日开始收取仓储费，收费一般按10元/天/m³计算，具体以当地市场价格为准，该笔费用由消费者与第三方服务公司确认后直接支付给第三方服务公司；</p>
<p>6）消费者小区不允许货车进入或限时段进入的，平移距离（停车位到楼梯口，电梯口的距离）超20米的，超出部分一般按10元/20米/件收取费用，具体以当地市场价格为准，该笔费用由消费者与第三方服务公司确认后直接支付给第三方服务公司；</p>
<p>7）配送者可通过电梯顺利将货物送至收货地址，若无法通过电梯顺利送达，则收货地址的楼层须在6楼及以下；如果收货地址的楼层在7楼及以上的， 7楼至收货地址的搬运费用由消费者与第三方服务公司协商，一般按20元/件/层收取上楼费，跃层和阁楼按照一层计费，具体以当地市场价格为准，该笔费用由消费者与第三方服务公司确认后直接支付给第三方服务公司；请消费者购买前了解商品外围尺寸和电梯空间大小；</p>
<p>8）“送货上门并安装”服务仅限于室内操作，不提供高空作业、吊装等室外作业；</p>
<p>9）若因消费者收货地址中的学校、单位或住宅小区不允许送货安装人员入内导致无法“送货上门并安装”服务的，网易严选不承担未提供“送货上门并安装”服务的责任；</p>
<p>10）消费者收货地址所在建筑物本身及其所在环境允许第三方服务公司无需提供除搬运外的其他服务的情况下，即可将货物搬运至收货地址，如入户大门、楼道、电梯等的宽度和高度可以搬运，楼道内无杂物等；</p>
<p>11）消费者更改收货地址，且更改后的地址超出网易严选承诺提供“送货上门并安装”服务的区域，由此导致的额外费用，由消费者和严选客服或第三方服务公司协商，如协商未果,则网易严选无需提供“送货上门并安装”服务；</p>
<p>12）为保障消费者自身权益，请消费者向第三方服务公司索要额外支付费用的收据或发票，作为费用支出的凭证；</p>
<p>13）前述需消费者额外支付费用的情况，如因消费者与第三方服务公司协商未果导致无法“送货上门并安装”服务的，网易严选不承担未提供“送货上门并安装”服务的责任。</p>

<p>2、注意事项</p>
<p>1）消费者收货地址是否可以提供送货上门并安装服务、是否收取上楼费、安装费以及收费标准，具体请以网易严选页面公示的地区范围及收费标准为准，或建议消费者购买前与严选客服沟通确认是否提供服务；</p>
<p>2）由于家具运输特殊性，如遇到特殊情况（如道路受阴、天气原因等）时， “送货上门并安装”业务将合理顺延，在严选客服或第三方服务公司提前沟通告知消费者的情况下，消费者不能以该理由拒收。第三方服务公司将与消费者预约再次配送时间；</p>
<p>3）消费者原因引起的二次及或多次配送/退货，消费者需承担交易过程中实际产生的所有费用（包括运费、服务费等）。</p>

<h5>三、商品退货服务</h5>
<p>因大件家具物流成本极高，如出现零部件质量问题，优先以换件、补件为主；玻璃制品和易损制品局部损坏，可由网易严选直接补寄，无需全部退回。就消费者的退/换货需求，第三方服务公司无权代表网易严选作出任何答复，请消费者联系严选客服协商处理。</p>

<p>1、退货时限</p>
<p>1)退货：消费者自签收之日起30天内可申请无理由退货，及因商品存在质量问题且经换件处理仍无法解决时的有理由退货；</p>
<p>2)保修：消费者自签收之日起1年内商品存在问题，网易严选对消费者提供免费保修服务，不再接受商品退/换货；</p>
<p>3)事前约定不适合退货的商品除外；定制类商品不支持30天无理由退货。</p>

<p>2、退货条件</p>
<p>1)30天无理由退货,需要消费者保持商品本身完好，不影响二次销售；</p>
<p>2)商品表面无划痕、无磨（破）损、无磕碰、无使用、无拆卸等痕迹；</p>
<p>3)（若有）赠品破损或遗失可折价（如能估量折价的，以估值折价为准；无法估值折价的，折价上限不超过原商品成交价的10%）、发票遗失按相应退税点由消费者承担。</p>

<p>3、处理流程</p>
<p>1)购买网易严选出售的大件家具商品，产生的相关售后与服务问题，严选客服会与消费者协商解决；</p>
<p>2)对于商品质量问题，消费者需向严选客服提供证据，若严选客服收到证据后，确认商品本身确实存在质量问题，会按本规则为您办理退货/保修。就退货情况，消费者应妥善包装后（将附件、说明书、合格证、发票、购物凭证、包装）退回商品，返回方式及地址以售后服务单审核为准；</p>
<p>3)因拍摄设备、光线、显示器等原因均会产生色差，故色差问题不属于商品质量问题；如因商品测量标准不一致导致的尺寸问题在相关标准规定的尺寸误差内则不算商品质量问题；</p>
<p>4)30天无理由退货的商品退货运费由消费者自行承担。</p>

<p>4、运费</p>
<p>非商品质量问题，非网易严选问题而由消费者发起的退货行为，消费者承担退货时产生的运费；</p>
<p>消费者拒收商品运费由谁承担？消费者拒收交易的货物，原则上：</p>
<p>1)若为有理由拒收（商品有质量问题、少货等情况），由网易严选承担商品退回时产生的运费；</p>
<p>2) 若为无理由拒收（商品无质量问题、少货等情况），由消费者承担商品退回时产生的运费；</p>
<p>3) 出现争议时，严选客服会与消费者协商处理解决</p>