<div class="row cusList">
    <div class="col-lg-4">
        <div class="cusP">
            <div class="cusPTop">
                <img src="img/cusContent.png" alt=""/>
                <div class="row cusPCont">
                    <div class="col-lg-5 cusN text-center">
                        <span class="cusNum">10</span>元
                    </div>
                    <div class="col-lg-7">
                        <div>每满99减10元券</div>
                        <div class="time">2018.06.08-2018.06.08</div>
                        <div>
                            <a class="use" href="#">去使用</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cusB">
                <img src="img/cusBottom.png" alt=""/>
                <div class="cusBCont">
                    <div class="cusText">文体-户外、文具类目专享；限时购、特价等特惠商品及详情页标注不可用券的商品除外</div>
                    <!--<i class="cusIcon">s</i>-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="cusP">
            <div class="cusPTop">
                <img src="img/cusContent.png" alt=""/>
                <div class="row cusPCont">
                    <div class="col-lg-5 cusN text-center">
                        <span class="cusNum">10</span>元
                    </div>
                    <div class="col-lg-7">
                        <div>每满99减10元券</div>
                        <div class="time">2018.06.08-2018.06.08</div>
                        <div>
                            <a class="use" href="#">去使用</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cusB">
                <img src="img/cusBottom.png" alt=""/>
                <div class="cusBCont">
                    <div class="cusText">文体-户外、文具类目专享；限时购、特价等特惠商品及详情页标注不可用券的商品除外</div>
                    <!--<i class="cusIcon">s</i>-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="cusP">
            <div class="cusPTop">
                <img src="img/cusContent.png" alt=""/>
                <div class="row cusPCont">
                    <div class="col-lg-5 cusN text-center">
                        <span class="cusNum">10</span>元
                    </div>
                    <div class="col-lg-7">
                        <div>每满99减10元券</div>
                        <div class="time">2018.06.08-2018.06.08</div>
                        <div>
                            <a class="use" href="#">去使用</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cusB">
                <img src="img/cusBottom.png" alt=""/>
                <div class="cusBCont">
                    <div class="cusText">文体-户外、文具类目专享；限时购、特价等特惠商品及详情页标注不可用券的商品除外</div>
                    <!--<i class="cusIcon">s</i>-->
                </div>
            </div>
        </div>
    </div>
</div>