*{
    margin: 0;
    padding: 0;
}
.mycontent{
    margin-top: 110px;
    margin-bottom: 50px;
}
/*图片详情*/
.imgdeta{
    height: 500px;
    margin-top: 10px;
    background-image: url("../../img/mall/TB2C_1.jpg");
    /*background-size: 100% 100%;*/
    background-size: cover;
    transition: all 0.3s linear;
}
.img4Div{
    height: 330px;
    margin-top: 180px;
}
.img4Div>div{
    width: 120px;
    height: 60px;
    margin: 20px 0 0 20px;
    cursor: pointer;
}
.img4Div>div:nth-child(1){
    background-image: url("../../img/mall/TB2C_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.img4Div>div:nth-child(2){
    background-image: url("../../img/mall/TB2C_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.img4Div>div:nth-child(3){
    background-image: url("../../img/mall/TB2C_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.img4Div>div:nth-child(4){
    background-image: url("../../img/mall/TB2C_4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.active{
    border: 1px solid #7B7446;
}
.imgtop{
    margin-top: 20px;
}
.imgtop2{
    margin-top: 10px;
}
.detatitle{
    font-size: 16px;
    font-weight: bold;
}
.imgbottom{
    border-bottom: 1px solid #d3d3d3;
}
p{
    color: #909090;
}
.priceSpan>span{
    color: #FF2560;
    font-weight: bold;
    font-size: 18px;
    margin-left: 30px;
}
.freightSpan>span{
    margin-left: 30px;
    color: #333333;
}
.speciSpan{
    height: 50px;
}
.speciSpan>span{
    float: left;
    color: #909090;
    line-height: 30px;
}
.speciSpan ul{
    margin-left: 30px;
    list-style: none;
}
.speciSpan ul>li{
    margin-left: 30px;
    float: left;
    border: 1px solid #d3d3d3;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
}
.btn_div{
    margin-bottom: 20px;
}
.shop_btn{
    background-color: #F2F3F3;
    color: #7B7446;
}
.add_cart_btn{
    background-color: #7B7446;
    color: #FFFFFF;
    margin-left: 10px;
}
/*测试*/
.test{
    border: 1px solid red;
}