<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->



    <!--css-->
    <link rel="stylesheet" href="../css/underlineBase/underlineBase.css">
    <!-- Bootstrap -->
    <link href="../css/underlineBase/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">预约</h4>
            </div>
            <div class="modal-body">
                <div>
                    <p>地址：云南邵通是··村</p>
                    <p>电话：400 6666 6666</p>
                </div>
                <p>预约请填表</p>
                <div>
                    <form>
                        <input class="form-control" type="text" placeholder="姓名">
                        <input class="form-control" type="text" placeholder="电话">
                        <input  class="form-control" type="text" placeholder="邮箱">
                        <input class="form-control" type="text" placeholder="内容">
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >取消</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" >预约</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>
<iframe src="../index/header.html" width="100%" height="220px" frameborder="0"></iframe>
<!--buuer-->
<header>
    <div class="container-fluid">
        <div class="row banner">

            <div class="activity col-lg-12  col-md-12  col-sm-12">
                <div id="banner">
                    <div>
                        <h2>浅草到家</h2>
                    </div>

                    <div>
                        <p>
                            <span>2013年7月</span>悠悠把孩子在图书馆打翻的一盆多肉带回家，从此与多肉结缘
                        </p>
                        <p>
                            <span>2013年8月17日</span>浅草到家网站开张，工作室养肉肉。
                        </p>
                        <p>
                            <span>2013年9月</span>浅草到家搬到300平米大露台，日交易量创同行业新高。
                        </p>
                        <p>
                            <span>2015年5月</span>浅草到家在云南建立了5000平方米的基地，与日本·韩国·荷兰十余家农场建立合作关系。
                        </p>

                    </div>
                </div>


            </div>
        </div>
    </div>
</header>
<section>
    <!--基地展示-->
    <div class="container">
        <div class="row " id="first">
            <h3 class="page-header">基地展示</h3>
            <div class=" col-lg-7  col-md-7 col-sm-7">
                <div>
                    <img src="../img/underlineBase/timg.jpg" alt="">
                </div>
                <div>
                    <img  src="../img/underlineBase/timg3.jpg" alt="">
                    <img style="margin-left: 3%"  src="../img/underlineBase/timg2.jpg" alt="">
                </div>
            </div>
            <div class=" col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">
                <div>
                    <h1>
                        基地介绍
                    </h1>
                    <p>
                        浅草到家基地位于在云南占地5000平方米的基地
                        年平均气温21℃，极端最高气温40℃，极端最低气温为零下15.8℃，年均降雨量640毫米，
                        且主要集中在4、5、6三个月。肉意浓多肉种植大棚引种基地于2005至2012年从韩国共引种多肉植物22科
                        96属300余种，在漳州邹塘村建立引种试验区。通过7年多大棚造景及实际栽培，对多肉植物生长状况、
                        物候期、度夏及越冬情况的综合评价，筛选出适宜温室栽培长势良好的多肉植物253种，占总数的84.3%，
                        同时就多肉植物在园林景观中的应用进行初步探讨。
                    </p>
                    <p>
                        基地大棚采用冬暖型大棚，冬暖型大棚主要多用于北方，搭配使用卷帘机等机械化设备，用于日常控温，
                        在北方冬季室外零下10度的时候冬暖型大棚室内控温仍可达到27度左右。
                        与日本·韩国·荷兰十余家农场建立合作关系。
                    </p>
                    <p>
                        多肉植物种类繁多，形态奇特，在园林造景上能够展示出浓郁的异国情调，营造出优美的园林艺术效果。
                        有关其园林应用，北京植物园对仙人掌及多肉植物室内装饰及应用进行了探讨，为大众的室内绿化提供适
                        宜的养护管理办法及造景方法。最小的直径仅1-2cm，依据多肉植物的特点将其种植在面积为
                        0.5-2m2的景箱内，取得了良好景观效果。
                    </p>
                </div>

            </div>
        </div>


        <!--活动1-->
        <div class="row" id="two">
            <h3 class="page-header">活动</h3>
            <div class=" col-lg-7  col-md-7  col-sm-7 text">
                <div class="xxsm">
                    <h1>
                        DIY多肉植物栽培主题活动-周六即将开展
                    </h1>
                    <p>
                        本次活动的主题是——饱满可爱、萌态可鞠的多肉植物！发挥想象，将不同种类的多肉植物拼凑在一起，DIY制作出自己独特的多肉盆景。

                        既可以丰富我们的业余生活，还能提高感受美和欣赏美的水平。一起来DIY吧！
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            预约
                        </button>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-1  col-md-4  col-sm-4">
                <div>
                    <img  src="../img/underlineBase/2.jpg" alt="">

                </div>
            </div>
        </div>


        <!--活动2-->
        <div class="row" id="hdtwo">
            <div class=" col-lg-7  col-md-7  col-sm-7 text ">
                <div class="xxsm">
                    <h1>
                        线下售卖活动（10月29日）
                    </h1>
                    <p>
                        doroq多肉植物馆 首次线下售卖活动邀您前往，2011年10月29日周六下午13：00-17:00，
                        上海泰康路220弄宽喜2楼，届时将会有各类种植工具植料及大量多肉小盆栽和寄植亮相，不少网店没有过的品种
                        也会出现，不要错过哟

                    </p>

                </div>
            </div>

            <div class="col-lg-4 col-lg-offset-1  col-md-4  col-sm-4">
                <div>
                    <img  src="../img/underlineBase/3.jpg" alt="">


                </div>

            </div>
        </div>




    </div>
    <!--线下2-->
    <div></div>





</section>








<iframe src="../index/footer.html" width="100%" height="370px" frameborder="0"></iframe>



<!--jquery-->
<script src="../js/underlineBase/jquery-3.1.1.js"></script>

<!--bootstrap-->
<script src="../js/underlineBase/bootstrap.min.js"></script>
<!--js-->
<script src="../js/underlineBase/underlineBase.js"></script>


</body>
</html>