<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>浅草</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/goods/goods.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%include ../index/header.ejs%>
<section>
    <div class="container mycontent">
        <div class="col-xs-12">
            <img src="img/goods/Mi5qcGc_p_p100_p_3D.jpg" class="img-responsive">
        </div>
        <!--所有货物-->
        <div class="col-xs-12 allGoods">
            <div class="col-xs-9 goodsL text-center goodsTitle">
                <h4>所有的货物</h4>
                <p>
                    无论你是一个普通的互联网用户还是一个专业的网站制作商，你都可以使用启动页面设计最专业的网站。离线页面提供了很多漂亮的网站，网站模板和成品几乎涵盖了各行各业建立的，今天你只需对模板进行小改动即可完成自己的网站，这一切都是免费的。
                </p>
            </div>
        </div>
        <!--商品-->
        <div class="col-lg-12 goodsList">
            <%for (var i=0;i<mygoods.length;i++) {%>
            <div class="col-md-3 col-sm-6 text-center goodsDiv">
                <a href="/goods_details?id=<%=mygoods[i].goods_ID%>">
                    <div class="goodsImg">
                        <img src="<%=mygoods[i].goodsImg%>" class="img-responsive">
                    </div>
                    <div class="goodsTextDiv">
                        <h3 class="goodsNmae"><%=mygoods[i].goodsName%></h3>
                        <div class="goodsPrice"><span>¥<span><%=mygoods[i].goodsPrice%></span></span></div>
                    </div>
                </a>
            </div>
            <%}%>
        </div>
    </div>
</section>
<%include ../index/footer.ejs%>
<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/goods/goods.js"></script>
</body>
</html>