<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>浅草</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/goods/order.css" rel="stylesheet">
    <link href="css/goods/shop_cart.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%include ../index/header.ejs%>
<section>
    <div class="container mycontent3">
        <div class="row">
            <div class="col-xs-7 orderDiv">
                <h2>账单地址</h2>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="region">
                            <h5>国家/地区 *</h5>
                        </label>
                        <select class="form-control clearBorder" id="region">
                            <option>中国</option>
                            <option>中非共和国</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group pull-left">
                        <label for="surname">
                            <h5>姓 *</h5>
                        </label>
                        <input type="text" id="surname" class="form-control clearBorder inputW">
                    </div>
                    <div class="form-group pull-right">
                        <label for="name">
                            <h5>名 *</h5>
                        </label>
                        <input type="text" id="name" class="form-control clearBorder inputW">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="company_name">
                            <h5>公司名称</h5>
                        </label>
                        <input type="text" class="form-control clearBorder" id="company_name">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="zip_code">
                            <h5>邮政编码 *</h5>
                        </label>
                        <input type="text" class="form-control clearBorder" id="zip_code" placeholder="邮政编码">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group pull-left">
                        <label for="province">
                            <h5>省 *</h5>
                        </label>
                        <select class="form-control clearBorder inputW" id="province">
                            <option>----省----</option>
                            <option>China/中国</option>
                            <option>Yunnan/云南</option>
                            <option>BeiJing/北京</option>
                        </select>
                    </div>
                    <div class="form-group pull-right">
                        <label for="city">
                            <h5>镇/市 *</h5>
                        </label>
                        <select class="form-control clearBorder inputW" id="city">
                            <option>----镇/市----</option>
                            <option>China/中国</option>
                            <option>Yunnan/云南</option>
                            <option>BeiJing/北京</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="address">
                            <h5>地址 *</h5>
                        </label>
                        <input type="text" class="form-control clearBorder" id="address" placeholder="编辑地址">
                        <input type="text" class="form-control clearBorder" placeholder="楼层、房间号（可选）">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group pull-left">
                        <label for="eamil">
                            <h5>Email 地址 *</h5>
                        </label>
                        <input type="text" id="eamil" class="form-control clearBorder inputW">
                    </div>
                    <div class="form-group pull-right">
                        <label for="phone">
                            <h5>电话 *</h5>
                        </label>
                        <input type="text" id="phone" class="form-control clearBorder inputW">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="orderNote">
                            <h5>订单备注 *</h5>
                        </label>
                        <textarea class="form-control clearBorder" id="orderNote" placeholder="为您的订单添加备注，例如：送货特别注意事项" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="borderR">
                    <h2>订单详情</h2>
                    <div class="goodsOrder">
                        <span class="pull-left"><h5>商品</h5></span>
                        <span class="pull-right"><h5>合计</h5></span>
                    </div>
                    <div class="goodsOrder2">
                        <span class="pull-left">
                            <h4>植物花卉001	× 1</h4>
                        </span>
                        <span class="pull-right">
                            <h4><span>¥<span>5900</span></span></h4>
                        </span>
                    </div>
                    <div class="bordersm goodsOrder">
                        <span class="pull-left"><h5>购物车小计</h5></span>
                        <span class="pull-right">
                            <h4><span>¥<span>5900</span></span></h4>
                        </span>
                    </div>
                    <div class="bordersm goodsOrder">
                        <span class="pull-left"><h5>运费</h5></span>
                        <span class="pull-right">免费送货</span>
                    </div>
                    <div class="borderLast goodsOrder">
                        <span class="pull-left"><h5>订单总计</h5></span>
                        <span class="pull-right">
                            <h4><span>¥<span>5900</span></span></h4>
                        </span>
                    </div>
                    <div class="moneyRadio2 bordersm">
                        <div class="zfbDiv">
                            <div class="pull-left">
                                <input type="radio" name="radio" checked="checked"> 支付宝
                            </div>
                            <img src="img/goods/alipay.png" class="pull-left">
                        </div>
                        <p>使用支付宝付款，如果您没有支付宝账户，也可通过借记卡或信用卡付款。</p>
                    </div>
                    <div class="moneyRadio">
                        <div>
                            <input type="radio" name="radio"> 银行汇款（线下）
                        </div>
                        <p>直接付款到我们的银行账户。请使用订单号作为付款名目。我们会在资金到账后配送订单。</p>
                    </div>
                    <a href="/pay">
                        <button type="button" class="btn order_btn">下单</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 orderPay">
                <input type="text" placeholder="优惠劵代码" class="btn-block myDIn myinW">
                <button type="button" class="btn btn-block yhj_btn myinW">使用优惠劵</button>
            </div>
        </div>
    </div>
</section>
<%include ../index/footer.ejs%>
<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>