<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>浅草</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/goods/pay.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">支付宝</a>
                    </div>
                    <div>
                        <p class="navbar-text navbar-left">我的收银台</p>
                        <p class="navbar-text navbar-right">唯一热线：<span>123456</span></p>
                        <p class="navbar-text navbar-right">找人代付</p>
                        <p class="navbar-text navbar-right">支付宝账户：<span>12345678911</span></p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<section>
    <div class="container">
        <!--支付-->
        <div class="row">
            <div class="col-xs-11 myadd">
                <div class="zfbDiv">
                    <img src="img/goods/jUwLmpwZw_01.jpg">
                    <span>多肉植物种植新手套餐肉肉植物多肉组合盆栽绿植花卉送花盆</span>
                    <span class="pull-right zfbPay">
                        <span>18.60</span> 元
                    </span>
                </div>
                <!--支付-->
                <div id="pay">
                    <div class="zfbPayList text-center">
                        <div class="payDiv" id="payDiv">
                            <img src="img/goods/zfb.png">
                            <div>
                                支付宝扫码付款哦！
                            </div>
                        </div>
                    </div>
                </div>
                <!--支付成功-->
                <div id="successPay">
                    <div class="zfbPayList text-center">
                        <div class="SuccessPayDiv" id="SuccessPayDiv">
                            <img src="img/goods/successPay.png">
                            <span>支付成功！3秒后返回首页！</span>
                            <a href="index/index.html">立即返回</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<iframe src="index/footer.html" width="100%" height="370px" frameborder="0"></iframe>-->
<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/goods/pay.js"></script>
</body>
</html>